.searchBar input[type=text] {
	float: right;
	padding: 6px;
	border: none;
	margin-right: 16px;
	font-size: 10px;
	width: 20%;
	height: 20px;
	margin-top: 13px;
	
}

.searchHeader {
	background-color: black;
	text-align: left;
}

body{
	text-align: center;
}

.searchHeader p{
	color: white;
	font-size: 50px;
}
	